
@{
    ViewBag.Title = "Home";
    Layout = "~/Areas/Shared/_AreaLayoutShare.cshtml";
}

<div class="page-wrapper">
    <div class="page-body">
        <div class="card">
            <div class="card-header">
                <h1 class="">Select Factory</h1>
                <div class="card-header-right">
                    <ul class="list-unstyled card-option">
                        <li><i class="feather icon-maximize full-card"></i></li>
                        <li><i class="feather icon-minus minimize-card"></i></li>
                        @*<li><i class="feather icon-trash-2 close-card"></i></li>*@
                    </ul>
                </div>
            </div>
            <div class="card-block">
                <a href="/BanDau/BanDau/F06" class="btn btn-primary btn-square">Bản đầu F06</a>
                <a href="/BanDau/BanDau/F17" class="btn btn-primary btn-square">Bản đầu F17</a>
                <a href="/BanDau/BanDau/F17" class="btn btn-primary btn-square">Rút kiểm</a>
            </div>
        </div>
    </div>
</div>

