.logo span {
    font-size: 40px;
}

.logo img {
    max-height: 35px;
    margin-bottom: 5px;
}

.card {
    border-radius: 10px !important;
    background: rgb(255 255 255 / 60%);
    border: 1px solid rgba(255, 255, 255, 0.125);
    backdrop-filter: blur(10px);
    box-shadow: 0 0.3px 0.7px rgba(0, 0, 0, 0.126), 0 0.9px 1.7px rgba(0, 0, 0, 0.179), 0 1.8px 3.5px rgba(0, 0, 0, 0.224), 0 3.7px 7.3px rgba(0, 0, 0, 0.277), 0 10px 20px rgba(0, 0, 0, 0.4);
}

.col-6 > .small {
    font-size: 16px;
}
#container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: min-content;
    height: min-content;
    margin: 0;
    padding: 0;

}
.container{
    margin: 0;
    padding:0;
}
.row{
    padding: 0;
    margin: 0;
}
.card-body {
    padding: 10px;
}
.col-lg-4.col-md-6{
    padding: 0;
}
canvas {
    display: block;
    position: fixed;
    z-index: -1;
}
#background {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
    filter: brightness(0.5);
    background-image: url('/Content/Image/backgound_auto.jpg');
}
.loginCard {
    min-width: 400px;
}

#loader-page {
    position: absolute;
    z-index: 9999;
     display: none; 
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.btn-smartoffice {
    color: #fff;
    background-color: #f4623a;
    border-color: #f4623a;
}
    .btn-smartoffice:hover {
        color: #fff;
        background-color: #f4623a;
        border-color: #f4623a;
    }
    .btn-smartoffice:active {
        color: #fff;
        background-color: #f4623a;
        border-color: #f4623a;
    }
    .btn-smartoffice:focus {
        color: #fff;
        background-color: #f4623a;
        border-color: #f4623a;
    }
.login-subtext{
    font-size: 12px;
    padding: 0;
    margin: 0;
}