<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div id="formCheckListOnTime">
        <div class="row">
            <div class="col-md-12">
                <div class="card-block">
                    <div class="table-responsive">
                        <table class="table table-bordered" id="example-1">
                            <thead>
                                <tr>
                                    <th>時間</th>
                                    <th>實際產出</th>
                                    <th>不良數</th>
                                    <th>未達成原因</th>
                                    <th colspan="8">时段抽检数量（抽检数量为时段产能1%以上） <br />Kiểm tra mẫu theo thời gian, tỉ lệ rút kiểm 1% trở lên </th>
                                </tr>
                                <tr class="trOnTime">
                                    <th rowspan="2">Thời gian</th>
                                    <th rowspan="2">Hiệu suất thực tế</th>
                                    <th rowspan="2">Số lượng lỗi</th>
                                    <th rowspan="2">Nguyên nhân không đạt <br />Phương thức và kết quả xử lý </th>
                                    <th rowspan="2">抽驗數量 <br />Số lượng kiểm tra mẫu </th>
                                    <th rowspan="2">線長 <br />Chuyền trưởng </th>
                                    <th rowspan="2">抽驗數量 <br />Số lượng kiểm tra mẫu </th>
                                    <th rowspan="2">QA ký tên</th>
                                    <th>Program (Pass/Fail)</th>
                                    <th>極性 <br />Cực IC </th>
                                    <th>PIN NG</th>
                                    <th>其它 <br />Cái khác </th>
                                </tr>
                                <tr>
                                    <th>QA</th>
                                    <th>QA</th>
                                    <th>QA</th>
                                    <th>QA</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="1" class="timeLine">07:30 - 09:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="tabledit-view-mode text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="2" class="timeLine">09:30 - 11:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="3" class="timeLine">11:30 - 13:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="4" class="timeLine">13:30 - 15:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="5" class="timeLine">15:30 - 17:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="tabledit-view-mode text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineDay">
                                    <td scope="row">
                                        <span data-timelineid="6" class="timeLine">17:30 - 19:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="7" class="timeLine">19:30 - 21:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="8" class="timeLine">21:30 - 23:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="9" class="timeLine">23:30 - 01:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="10" class="timeLine">01:30 - 03:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="11" class="timeLine">03:30 - 05:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                                <tr class="timeLineNight">
                                    <td scope="row">
                                        <span data-timelineid="12" class="timeLine">05:30 - 07:30</span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="PassQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="FailQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="ReasonAndSolution" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="LineLeaderTestQuantity" class="tabledit-input form-control input-sm" type="number" min="0" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="LineLeaderConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="IPQCTestQuantity" class="tabledit-input form-control input-sm" type="number" value="">
                                    </td>
                                    <td class="text-center">
                                        <span data-fieldname="IPQCConfirmByName"></span>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <select data-fieldname="ProgramPassFail" class="form-control">
                                            <option value="1">Pass</option>
                                            <option value="2">Fail</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="ICStatus" class="form-control">
                                            <option value="1">OK</option>
                                            <option value="2">NG</option>
                                        </select>
                                    </td>
                                    <td>
                                        <select data-fieldname="PinNG" class="form-control">
                                            <option value="1">NO</option>
                                            <option value="2">YES</option>
                                        </select>
                                    </td>
                                    <td class="tabledit-view-mode">
                                        <input data-fieldName="Other" class="tabledit-input form-control input-sm" type="text" value="">
                                    </td>
                                </tr>
                            </tbody>
                            <tfoot>
                                <tr>
                                    <td rowspan="2"></td>
                                    <td scope="row">總完成數 <br />Tổng số đạt tiêu chuẩn </td>
                                    <td scope="row">總不良數 <br />Tổng số hàng lỗi </td>
                                    <td scope="row">達成率 <br />Tỉ lệ đạt được </td>
                                    <td colspan="8" rowspan="2"> 注意： <br /> 1. Viêt số lượng lỗi lần lượt theo các nét của chữ 正. <br /> 2. Reset theo mốc thời gian đã chia sẵn ở bảng ghi chép. </td>
                                </tr>
                                <tr>
                                    <td class="text-center">
                                        <span class="sumOfPassQuantity"></span>
                                    </td>
                                    <td class="text-center">
                                        <span class="sumOfFailQuantity">
                                            <label class="badge badge-danger">0</label>
                                        </span>
                                    </td>
                                    <td class="text-center">
                                        <span class="ratioPass"></span>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="12">
                                        <h6>REMARK: Gợi ý</h6>
                                        <p> 1.每 2 小 時 IPQC 必 須 做 極 性 確 認 . Cứ 2 giờ thì IPQC phải kiểm tra cực IC <br /> Every 2 Hours The IPQC To Double Check The IC Polarity OK. 2.每 2 小 時 IPQC 必 須 做 確 認 動 作 , 未 確 認 操 機 員 勿 燒 碼 . <br /> Cứ 2 giờ IPQC phải làm xác nhận chương trình, nếu không xác nhận thì nhân viên không làm sao chép <br /> (確 認 OK 之 IC 請 打 上 黄 色 記 號) Xác nhận xong IC đánh dấu màu đỏ <br /> Every 2 Hours The IPQC To Double Check The IC Program OK,No Verify Don't Programming. </p>
                                    </td>
                                </tr>
                                <tr>
                                    <td style="border: 0px;" colspan="10">保存期限﹕三個月 <br />Thời hạn lưu giữ: 3 tháng </td>
                                    <td style="border: 0px;" colspan="2">表單編號:FM3NVA012017D <br />Mã số bảng: FM3NVA012017D </td>
                                </tr>
                            </tfoot>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>