.action_col{
    text-align: center !important;
    width: 160px;
    min-width: 160px;
}
.modal-header button {
    border: none;
    border-radius: 100%;
}
.modal-body .form-label {
    font-weight: bold;
    margin-bottom: 0;
}
.modal-body .col-12{
    padding-top: 10px;
}
.required *:after {
    content: " *";
    color: red;
}
