<input type="hidden" id="Location" value="F06" />
@{
    ViewBag.Title = "Label Sample";
    Layout = "~/Areas/Shared/_AreaLayoutShare.cshtml";
    var user = (CPDCheckList.Web.Commons.AccountLogin)Session["USER_SESSION"];
}

@section styles{
    <!-- Vendor -->
    <link href="~/files/Content/vendor/Viewer JS/viewer.min.css" rel="stylesheet" />
    <!-- Custom -->
    <link href="~/Areas/Lable/Content/Custom/LabelSample.css?v=@Guid.NewGuid()" rel="stylesheet" />
}

<img id="ImagePreview" style="display: none" />
<input type="hidden" data-role="@user.RoleId" data-id="@user.UserId" id="thisUser" />

<div class="page-wrapper">
    <div class="page-body">
        <div class="card mt-2">
            <div class="card-body p-0">
                <table id="table_LabelSample" class="table table-bordered table-striped table-hover nowrap">
                    <thead class="text-center">
                        <tr class="border-top-0">
                            <th class="text-center" rowspan="2">機種名<br />Tên sản phẩm</th>
                            <th class="text-center" rowspan="2">制作日期<br />Thời gian làm</th>
                            <th class="text-center" rowspan="2">生效日期<br />Thời gian có hiệu lực</th>
                            <th class="text-center" rowspan="2">MO</th>
                            <th class="text-center" rowspan="2">地位<br />Trạng thái</th>
                            <th class="text-center border-right-0" rowspan="2">行动<br />Action</th>
                        </tr>
                    </thead>
                    <tbody id="table_LabelSample-tbody">
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<!-- Add & Edit modal -->
<div class="modal fade" id="LabelSample" data-bs-backdrop="static">
    <div class="modal-dialog modal-dialog-scrollable modal-fullscreen">
        <div class="modal-content">
            <div class="modal-header">
                <div class="modal-title text-center w-100">
                    <h3>Label 樣品表 Bảng Label mẫu</h3>
                </div>
                <button type="button" class="btn btn-outline-danger border-0 rounded-circle" data-bs-dismiss="modal" aria-label="Close"><i class="bi bi-x" style="font-size: 20px"></i></button>
            </div>
            <div class="modal-body" id="LabelSample-body">
                <div class="row mb-3">
                    <div class="col-3">
                        <label class="form-label">機種名 (Tên sản phẩm):</label>
                        <input type="text" class="form-control" placeholder="Tên sản phẩm .." data-name="ProductName">
                    </div>
                    <div class="col-3">
                        <label class="form-label">制作日期 (Thời gian làm):</label>
                        <input type="datetime-local" class="form-control" data-name="CreatedDate">
                    </div>
                    <div class="col-3">
                        <label class="form-label">生效日期 (Thời gian có hiệu lực)/MO</label>
                        <input type="datetime-local" class="form-control" data-name="ValidDate">
                    </div>
                    <div class="col-3">
                        <label class="form-label" style="margin-bottom: 1.6rem"></label>
                        <input type="text" class="form-control" placeholder="MO .." data-name="MO">
                    </div>
                </div>
                <table class="table table-bordered table-lablesample" id="LabelSample_Table">
                    <thead>
                        <tr style="background-color: blanchedalmond">
                            <th style="width: 75px;">Thứ tự</th>
                            <th>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label text-primary">Foxconn Label</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" id="isFoxconnLabel">
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label text-primary">SN Label</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" id="isSNLabel">
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label text-primary">MAC ID</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" id="isMacIDLabel">
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </th>
                            <th>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label text-primary">其它 Label</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" id="isCurrentLabel">
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </th>
                        </tr>
                    </thead>
                    <tbody id="LabelSample_Table-tbody">
                        <!-- Row 1 -->
                        <tr>
                            <td class="text-center fw-bold">1</td>
                            <td FoxconnLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">Barcode:</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="FoxconnLabel" IsBarCode>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </td>
                            <td SNLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">Barcode:</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="SNLabel" IsBarCode>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </td>
                            <td MacIDLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">Barcode:</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="MacIDLabel" IsBarCode>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                            </td>
                            <td rowspan="4" CurrentLabel>
                                <label class="form-check-label">Tên Label:</label>
                                <input type="text" class="form-control form-control-sm" name="CurrentLabel" LabelName>
                            </td>
                        </tr>
                        <!-- Row 2 -->
                        <tr>
                            <td class="text-center fw-bold">2</td>
                            <td FoxconnLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">Khách hàng:</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="FoxconnLabel" IsCustomerNote>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm" placeholder="Nội dung..." name="FoxconnLabel" CustomerNote>
                            </td>
                            <td SNLabel>
                                <label class="form-check-label">Phương thức thay đổi thời gian:</label>
                                <div class="row" name="SNLabel" TimeChangeMethod>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" value="Không thay đổi" name="SNLabel-TimeChangeMethod" TimeChangeMethod type="radio">
                                            <label class="form-check-label">Không thay đổi</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" value="Cách ngày" name="SNLabel-TimeChangeMethod" TimeChangeMethod type="radio">
                                            <label class="form-check-label">Cách ngày</label>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <div class="form-check">
                                            <input class="form-check-input" value="Cách tuần" name="SNLabel-TimeChangeMethod" TimeChangeMethod type="radio">
                                            <label class="form-check-label">Cách tuần</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" value="Cách tháng" name="SNLabel-TimeChangeMethod" TimeChangeMethod type="radio">
                                            <label class="form-check-label">Cách tháng</label>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td rowspan="3" MacIDLabel name="MacIDLabel" MacID>
                                <label class="form-check-label">MAC ID:</label>
                                <div class="form-check">
                                    <input class="form-check-input" value="連續 (Liên tục)" name="MacIDLabel-MacID" type="radio">
                                    <label class="form-check-label">連續 (Liên tục)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="奇數 (Số lẻ)" name="MacIDLabel-MacID" type="radio">
                                    <label class="form-check-label">奇數 (Số lẻ)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="偶数 (Số chẵn)" name="MacIDLabel-MacID" type="radio">
                                    <label class="form-check-label">偶数 (Số chẵn)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" value="跳3碼 (Nhảy 3 mã)" name="MacIDLabel-MacID" type="radio">
                                    <label class="form-check-label">跳3碼 (Nhảy 3 mã)</label>
                                </div>
                                <div class="d-flex">
                                    <div class="form-check align-self-center">
                                        <input class="form-check-input" value="Orther" name="MacIDLabel-MacID" type="radio" placeholder="Other...">
                                        <label class="form-check-label" style="width: 120px">Cái khác, nhảy: </label>
                                    </div>
                                    <input type="text" class="form-control form-control-sm ms-2" name="MacIDLabel-MacID" OtherText>
                                </div>
                            </td>

                        </tr>
                        <!-- Row 3 -->
                        <tr>
                            <td class="text-center fw-bold">3</td>
                            <td FoxconnLabel>
                                <label class="form-check-label">Nơi sản xuất:</label>
                                <input type="text" class="form-control form-control-sm" name="FoxconnLabel" MadeIn>
                            </td>
                            <td SNLabel>
                                <label class="form-check-label">Mã cố định:</label>
                                <input type="text" class="form-control form-control-sm" name="SNLabel" FixedCode>
                            </td>
                        </tr>
                        <!-- Row 4 -->
                        <tr>
                            <td class="text-center fw-bold">4</td>
                            <td FoxconnLabel>
                                <label class="form-check-label">Foxconn level Rev (Phiên bản label Foxconn):</label>
                                <input type="text" class="form-control form-control-sm" name="FoxconnLabel" LableRev>
                            </td>
                            <td SNLabel>
                                <label class="form-check-label">流水號區間 (Dải mã luân chuyển):</label>
                                <input type="text" class="form-control form-control-sm" name="SNLabel" RangeCode>
                            </td>
                        </tr>
                        <!-- Row 5 -->
                        <tr>
                            <td class="text-center fw-bold">5</td>
                            <td FoxconnLabel>
                                <label class="form-check-label">Label 料號 (Mã liệu Label)</label>
                                <input type="text" class="form-control form-control-sm" name="FoxconnLabel" LabelCode>
                            </td>
                            <td SNLabel>
                                <label class="form-check-label">Label 料號 (Mã liệu Label)</label>
                                <input type="text" class="form-control form-control-sm" name="SNLabel" LabelCode>
                            </td>
                            <td MacIDLabel>
                                <label class="form-check-label">Label 料號 (Mã liệu Label)</label>
                                <input type="text" class="form-control form-control-sm" name="MacIDLabel" LabelCode>
                            </td>
                            <td CurrentLabel>
                                <label class="form-check-label">Label 料號 (Mã liệu Label)</label>
                                <input type="text" class="form-control form-control-sm" name="CurrentLabel" LabelCode>
                            </td>
                        </tr>
                        <!-- Row 6 -->
                        <tr>
                            <td class="text-center fw-bold">6</td>
                            <td FoxconnLabel>
                                <label class="form-check-label">色带型號 (Thông số giấy than):</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="FoxconnLabel" CoalPaperSpec value="B110A (普通/Phủ thông)" type="radio">
                                    <label class="form-check-label">B110A Phủ thông</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="FoxconnLabel" CoalPaperSpec value="B110CR/DMX368 Nhiệt độ cao" type="radio">
                                    <label class="form-check-label">B110CR/DMX368 Nhiệt độ cao</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="FoxconnLabel" CoalPaperSpec value="3075LE (Nhiệt độ cao màu trắng)" type="radio">
                                    <label class="form-check-label">3075LE (Nhiệt độ cao màu trắng)</label>
                                </div>
                            </td>
                            <td SNLabel>
                                <label class="form-check-label">色带型號 (Thông số giấy than):</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="SNLabel" CoalPaperSpec value="B110A (普通/Phủ thông)" type="radio">
                                    <label class="form-check-label">B110A Phủ thông</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="SNLabel" CoalPaperSpec value="B110CR/DMX368 Nhiệt độ cao" type="radio">
                                    <label class="form-check-label">B110CR/DMX368 Nhiệt độ cao</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="SNLabel" CoalPaperSpec value="3075LE (Nhiệt độ cao màu trắng)" type="radio">
                                    <label class="form-check-label">3075LE (Nhiệt độ cao màu trắng)</label>
                                </div>
                            </td>
                            <td MacIDLabel>
                                <label class="form-check-label">色带型號 (Thông số giấy than):</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="MacIDLabel" CoalPaperSpec value="B110A (普通/Phủ thông)" type="radio">
                                    <label class="form-check-label">B110A Phủ thông</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="MacIDLabel" CoalPaperSpec value="B110CR/DMX368 Nhiệt độ cao" type="radio">
                                    <label class="form-check-label">B110CR/DMX368 Nhiệt độ cao</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="MacIDLabel" CoalPaperSpec value="3075LE (Nhiệt độ cao màu trắng)" type="radio">
                                    <label class="form-check-label">3075LE (Nhiệt độ cao màu trắng)</label>
                                </div>
                            </td>
                            <td CurrentLabel>
                                <label class="form-check-label">色带型號 (Thông số giấy than):</label>
                                <div class="form-check">
                                    <input class="form-check-input" name="CurrentLabel" CoalPaperSpec value="B110A (普通/Phủ thông)" type="radio">
                                    <label class="form-check-label">B110A (普通/Phủ thông)</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="CurrentLabel" CoalPaperSpec value="B110CR/DMX368 Nhiệt độ cao" type="radio">
                                    <label class="form-check-label">B110CR/DMX368 Nhiệt độ cao</label>
                                </div>
                                <div class="form-check">
                                    <input class="form-check-input" name="CurrentLabel" CoalPaperSpec value="3075LE (Nhiệt độ cao màu trắng)" type="radio">
                                    <label class="form-check-label">3075LE (Nhiệt độ cao màu trắng)</label>
                                </div>
                            </td>
                        </tr>
                        <!-- Row 7 -->
                        <tr>
                            <td class="text-center fw-bold">7</td>
                            <td FoxconnLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">依據 (Dựa theo):</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="FoxconnLabel" IsDerivedFrom>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm" name="FoxconnLabel" DerivedFrom>
                            </td>
                            <td SNLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">依據 (Dựa theo):</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="SNLabel" IsDerivedFrom>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm" name="SNLabel" DerivedFrom>
                            </td>
                            <td MacIDLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">依據 (Dựa theo):</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="MacIDLabel" IsDerivedFrom>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm" name="MacIDLabel" DerivedFrom>
                            </td>
                            <td CurrentLabel>
                                <div class="d-flex justify-content-between">
                                    <label class="form-check-label">依據 (Dựa theo):</label>
                                    <div class="form-check form-switch ms-3">
                                        <input class="form-check-input" type="checkbox" name="CurrentLabel" IsDerivedFrom>
                                        <label class="form-check-label">舞 Không / 有 Có</label>
                                    </div>
                                </div>
                                <input type="text" class="form-control form-control-sm" name="CurrentLabel" DerivedFrom>
                            </td>
                        </tr>
                        <!-- Row 8-->
                        <tr>
                            <td class="text-center fw-bold">8</td>
                            <td FoxconnLabel>
                                <div class="d-flex justify-content-between">
                                    <span class="form-check-label">Label 樣品粘貼處 (Vị trí dán Label mẫu):</span>
                                    <button class="deleteButton"><i class="bi bi-x-circle"></i></button>
                                </div>

                                <button type="button" class="btn btn-outline-dark col-12" style="height: 100px; font-size: 2rem" name="FoxconnLabel" Btn-Image><i class="bi bi-camera-fill"></i></button>
                                <input type="file" class="d-none" name="FoxconnLabel" LabelImagePath accept="image/*" />

                                <div class="previewContainer"></div>
                            </td>
                            <td SNLabel>
                                <div class="d-flex justify-content-between">
                                    <span class="form-check-label">Label 樣品粘貼處 (Vị trí dán Label mẫu):</span>
                                    <button class="deleteButton"><i class="bi bi-x-circle"></i></button>
                                </div>

                                <button type="button" class="btn btn-outline-dark col-12" style="height: 100px; font-size: 2rem" name="SNLabel" Btn-Image><i class="bi bi-camera-fill"></i></button>
                                <input type="file" class="d-none" name="SNLabel" LabelImagePath accept="image/*" />

                                <div class="previewContainer"></div>
                            </td>
                            <td MacIDLabel>
                                <div class="d-flex justify-content-between">
                                    <span class="form-check-label">Label 樣品粘貼處 (Vị trí dán Label mẫu):</span>
                                    <button class="deleteButton"><i class="bi bi-x-circle"></i></button>
                                </div>

                                <button type="button" class="btn btn-outline-dark col-12" style="height: 100px; font-size: 2rem" name="MacIDLabel" Btn-Image><i class="bi bi-camera-fill"></i></button>
                                <input type="file" class="d-none" name="MacIDLabel" LabelImagePath accept="image/*" />

                                <div class="previewContainer"></div>
                            </td>
                            <td CurrentLabel>
                                <div class="d-flex justify-content-between">
                                    <span class="form-check-label">Label 樣品粘貼處 (Vị trí dán Label mẫu):</span>
                                    <button class="deleteButton"><i class="bi bi-x-circle"></i></button>
                                </div>

                                <button type="button" class="btn btn-outline-dark col-12" style="height: 100px; font-size: 2rem" name="CurrentLabel" Btn-Image><i class="bi bi-camera-fill"></i></button>
                                <input type="file" class="d-none" name="CurrentLabel" LabelImagePath accept="image/*" />

                                <div class="previewContainer"></div>
                            </td>
                        </tr>
                        <!-- Row 9 -->
                        <tr>
                            <td rowspan="2" class="text-center fw-bold">9</td>
                            <td colspan="4" class="text-center fw-bold" style="background-color: blanchedalmond">Ghi chú</td>
                        </tr>
                        <tr>
                            <td colspan="2">
                                <div class="d-flex align-items-center mb-3">
                                    <label class="form-control-label me-2" style="width: 290px;">產品共 (Tổng) ... MAC:</label>
                                    <input type="text" class="form-control form-control-sm" data-name="note_1">
                                </div>
                                <div class="d-flex align-items-center">
                                    <label class="form-control-label me-2" style="width: 290px;">FCC 上列印第 (FFC in MAC):</label>
                                    <input type="text" class="form-control form-control-sm" data-name="note_2">
                                </div>
                            </td>
                            <td colspan="2">
                                <div class="row">
                                    <div class="col-7">
                                        <textarea class="form-control" rows="3" style="resize: none;" data-name="note_3"></textarea>
                                    </div>
                                    <div class="col-5">
                                        <div style="width: fit-content" id="UploadFiles" class="border">
                                            <button class="btn btn-primary btn-sm" title="Upload new profile image"><i class="bi bi-upload"></i></button>
                                            <label>Upload <span class="text-danger">*.pdf</span> file.</label>
                                        </div>
                                        <input type="file" class="d-none" accept="application/pdf" id="UploadFilesInput" />
                                        <div id="FilesPreview" class="d-flex flex-column mt-2 overflow-hidden">
                                        </div>
                                    </div>
                                </div>                              
                            </td>
                        </tr>
                        <!-- Row 10 -->
                        <tr class="text-center fw-bold">
                            <td rowspan="2" class="text-center fw-bold">10</td>
                            <td style="background-color: blanchedalmond">
                                <label class="form-control-label">Sản phẩm có cần KEY hay không?</label>
                            </td>
                            <td style="background-color: blanchedalmond">
                                <label class="form-control-label">Người tạo</label>
                            </td>
                            <td style="background-color: blanchedalmond">
                                <label class="form-control-label">PQE xác nhận</label>
                            </td>
                            <td style="background-color: blanchedalmond">
                                <label class="form-control-label">PE xác nhận</label>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="form-check form-switch d-flex justify-content-center">
                                    <input class="form-check-input" type="checkbox" data-name="IsHasKey">
                                    <label class="form-check-label ms-3">舞 Không / 有 Có</label>
                                </div>
                            </td>
                            <td UserCreated class="text-center"></td>
                            <td UserPQE class="text-center"></td>
                            <td UserTE class="text-center"></td>
                        </tr>
                    </tbody>
                </table>

                <div class="col-12 row">
                    <div class="col-6">
                    </div>
                    <div class="col-6 text-end">
                        <p class="mb-1">表單編號: FD3NVB005001B</p>
                        <p class="mb-1">Mã bảng biểu: FD3NVB005001B</p>
                    </div>
                    
                </div>
                
            </div>
            <div class="modal-footer justify-content-end">
                <button type="button" class="btn btn-sm btn-primary" id="LabelSample-btnSave">添新 Thêm mới</button>
                <button type="button" class="btn btn-sm btn-primary" style="display: none" id="LabelSample-btnSaveEdit" onclick="SaveEdit(this, event)">Lưu</button>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <!-- Vendor -->
    <script src="~/Areas/Lable/Content/vendor/MomentJs/moment.js"></script>
    <script src="~/files/Content/vendor/Viewer JS/viewer.min.js"></script>
    <!-- Custom -->   
    <script src="~/Areas/Lable/Content/Custom/LabelSample.js?v=@Guid.NewGuid()"></script>
}