.select2-selection {
    height: 38px !important;
    display: flex !important;
    align-items: center !important;
    margin-bottom: 1rem !important;
}
input:disabled {
    cursor: not-allowed;
    color: #212529;
    background-color: #fff !important;
}
