.dataTable-table > thead > tr > th {
    text-align: center;
}

.modal-fullscreen {
    padding: 30px;
}

    .modal-fullscreen .modal-content {
        border-radius: 15px;
    }

#MatReqModalTable-thead tr {
    text-align: center;
    vertical-align: middle;
}

.text-middle {
    vertical-align: middle;
}

#MatReqModalTable, #RequestDetails-table {
    font-size: 12px;
}
    #MatReqModalTable, #RequestDetails-table th {
        background-color: #e9f1ff;
    }
textarea{
    resize: none;
}
.card.radius-15 {
    background-color: #f3f7ff;
}
span.badge.rounded-pill {
    height: 20px;
    width: 20px;
}
.btn.bg-white:hover{
    background-color: white !important;
}
.text-monospace {
    background-color: white !important;
}
#NewItem-row{
    cursor: pointer;
}
.card-sign{
    padding: 5px;
}
.dataTable-tablesss {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;
}
#MatReqModalTable-tbody, [details]:disabled {
    background-color: white;
}
[details-signprocess-header] {
    background-color: #e9f1ff;
}
.swal2-modal.swal2-icon-question{
    width: 800px;
}