.border-left-0 {
    border-left: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.table-input > * {
    border: 0;
}

    .table-input > *:focus {
        border: 0;
        box-shadow: none;
    }

.table {
    border-color: #7b7b7b;
}
.table-form{
    margin: 0;
    border-bottom: 0 !important;
}
.table-form thead > * {
    background-color: rgb(255 232 0 / 13%);
}
.table-form tbody tr td{
    width: 20%;
}

.child-col {
    background-color: rgb(255 255 255 / 50%) !important;
}

.approved {
    color: green !important;
    background-color: rgba(39, 245, 80, 0.24) !important;
}

.reject {
    color: red !important;
    background-color: rgba(243, 32, 19, 0.1) !important;
}

.modal-fullscreen {
    padding: 30px;
}

    .modal-fullscreen .modal-content {
        border-radius: 15px;
    }

.button-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent !important;
    color: gray;
    font-size: 1.5rem;
    border: none;
}

    .button-right:hover {
        background-color: transparent !important;
        color: dimgray !important;
        border: none;
    }

    .button-right:focus {
        box-shadow: none;
    }

.previewContainer {
    display: flex;
    flex-wrap: wrap;
}

.previewImage {
    width: 100%;
    object-fit: cover;
    border-radius: 15px;
}
.deleteButton {
    position: absolute;
    top: 20%;
    right: 4%;

    color: red;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: auto;
}