.border-left-0 {
    border-left: 0 !important;
}

.border-right-0 {
    border-right: 0 !important;
}

.table-input > * {
    border: 0;
}

    .table-input > *:focus {
        border: 0;
        box-shadow: none;
    }

.table {
    border-color: #7b7b7b;
}
.table-form{
    border-bottom: 0 !important;
}



.child-col {
    background-color: rgb(255 255 255 / 50%) !important;
}

.confirm {
    color: green !important;
    background-color: rgba(39, 245, 80, 0.24) !important;
}

.reject {
    color: red !important;
    background-color: rgba(243, 32, 19, 0.1) !important;
}

.modal-fullscreen {
    padding: 30px;
}

    .modal-fullscreen .modal-content {
        border-radius: 15px;
    }

.button-right {
    position: absolute;
    top: 50%;
    right: 0;
    transform: translateY(-50%);
    background-color: transparent !important;
    color: gray;
    font-size: 1.5rem;
    border: none;
}

    .button-right:hover {
        background-color: transparent !important;
        color: dimgray !important;
        border: none;
    }

    .button-right:focus {
        box-shadow: none;
    }

.previewContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.previewImage {
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    height: 140px;
}
.deleteButton {
    position: absolute;
    top: 2%;
    right: 2%;

    color: red;
    background-color: transparent;
    border: none;
    border-radius: 100%;
    width: auto;
}

[status] {
    height: 60px;
    vertical-align: middle;
    line-height: 3;
    font-size: 1rem;
}
.action_col{
    width: 160px;
}
div.form-control p{
    margin: 0;
    text-align: center;
}
.status-custom {
    height: 100%;
    width: 100%;
    display: flex !important;
    align-items: center;
    justify-content: center;
    font-size: 1.2rem;
}
textarea.form-control{
    height: 120px;
}

@media (max-width: 500px) {
    body {
        font-size: 0.7rem !important;
    }

    .btn {
        font-size: 0.7rem !important;
    }

    .header-nav span {
        font-size: 0.7rem !important;
        text-align: center;
    }

    .input-group-text, .form-control, .form-select {
        font-size: 0.7rem !important;
    }

    div.row div.col-4 {
        width: 100%;
    }

    h3, .h3 {
        font-size: calc(1rem + 0.3vw);
    }

    h4, .h4 {
        font-size: calc(1rem + 0.15vw);
    }

    #BeginCodeImageButton, #EndCodeImageButton {
        height: 2rem !important;
    }

    div.row.mb-3 {
        height: unset !important;
    }
}